.grid-container {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "adidas apple amazon beats"
    "samsung nike jbl ebay";
    margin-top: 10vh;
}

.adidas {
    grid-area: "adidas";
}

.apple {
    grid-area: "apple";
}

.beats {
    grid-area: "beats";
}

.amazon {
    grid-area: "amazon";
}

.nike {
    grid-area: "nike";
}

.samsung {
    grid-area: "samsung";
}

.jbl {
    grid-area: "jbl";
}

.ebay {
    grid-area: "ebay";
}

.adidas,.apple,.beats,.amazon,.nike,.ebay,.jbl,.samsung {
    justify-self: center;
    align-self: center;
    padding: 3em;
    max-height: 50vh;
    border: 1px solid #eee;
}

div img {
    width: 100%;
    height: 100%;
}